.search-book {
  height: 35px;
  width: 15%;
}

.add-book-section {
  margin: 50px;
  text-align: center;
}

i {
  cursor: pointer;
}

.books-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
