.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.rating > input {
  display: none;
}
.rating > label {
  position: relative;
  width: 1.1em;
  font-size: 3vw;
  color: #ffd700;
  cursor: pointer;
}
.rating > label::before {
  content: '\2605';
  position: absolute;
  opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
  opacity: 1 !important;
}
.rating > input:checked ~ label:before {
  opacity: 1;
}
.rating:hover > input:checked ~ label:before {
  opacity: 0.4;
}

.reviews {
  margin-top: 40px;
  padding: 0px 30px;
  display: flex;
  gap: 2em;
}

.review-box {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.review input {
  height: 30px;
}

.reviews .review {
  position: relative;
  min-width: 280px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 20px 35px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
}

.remove {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 12px;
}

.submit {
  margin-top: 20px;
  width: 177px;
  height: 45px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 19px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgb(0 0 0 / 40%);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.review .date {
  font-size: 11px;
}

.review .name {
  font-size: 20px;
}

.review .txt {
  font-size: 12px;
}
