.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
  height: 23vh;

  padding: 10px;
  background-color: #000;
}
.app-footer p {
  color: rgb(145, 145, 145);
  margin: 0;
  font-size: 16px;
}
