.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 29px 48px;
}
.app-header h1 {
  font-weight: 700;
  font-family: Helvetica;
  letter-spacing: 0.063em;
  font-size: 32px;
  margin: 0;
}
.app-header nav {
  display: flex;
  gap: 22px;
}

.app-header a {
  font-weight: 700;
  font-family: Helvetica;
  letter-spacing: 1.1px;
  font-size: 17px;
}

.logo {
  height: 50px;
  width: 80px;
}
