.book-details {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 15%;
  background-color: #f5f1e8;
}

.details {
  text-align: left;
  max-width: 330px;
  max-height: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-details h4 {
  font-size: 0.7em;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.book-details img {
  width: 330px;
  height: 430px;
  justify-self: center;
}

.details h4 span {
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
}

.book-details h1 {
  text-decoration: underline;
  text-underline-offset: 9px;
}

.book-details button {
  justify-self: end;
}

.back-to-list {
  display: flex;
  gap: 9px;
  text-align: center;
  margin-top: 30px;
}

.book-details p {
  font-size: 0.65em;
}

.read-more {
  margin-top: 15px;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  padding: 3px 4px 3px 4px;
  font: 42% 'Oswald', Sans-Serif;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 4px 4px 0px rgb(33 33 33 / 45%);
}

.book-details h5 {
  max-width: 220px;
  padding-bottom: 20px;
  max-height: 85px;
}

.price {
  margin-top: 35px;
  display: inline-block;

  max-width: 115px;
  height: 38px;

  background-color: #979797;
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  border-radius: 3px 4px 4px 3px;

  border-left: 1px solid #979797;

  /* This makes room for the triangle */
  margin-left: 19px;

  position: relative;

  color: white;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 38px;

  padding: 0 10px 0 10px;
}

.price:before {
  content: '';
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid #979797;
}

/* Makes the circle */
.price:after {
  content: '';
  background-color: white;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  position: absolute;
  left: -9px;
  top: 17px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.img-container {
  overflow: hidden;
  position: relative;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sale {
  font-weight: bold;
  position: absolute;
  top: 10px;
  rotate: -35deg;
  left: -90px;
  width: 75%;
  background-color: red;
  padding: 8px;
  font-size: 12px;
}
