.book-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 45px;
  padding: 50px 135px;
  list-style-type: none;
}
.book-list ul li {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  height: 400px;
  padding: 3px;
  width: 300px;
}

.book-list h2 {
  font-size: 0.7em;
}

li a {
  font-size: 15px;
}

.list {
  transition: all 0.3s;
}

.list:hover {
  scale: 1.01;
}
