* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--gray3);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0 0 0.5em;
}

hr {
  overflow: hidden;
  margin: 0;
  border-bottom-width: 1px;
  border-color: rgb(226, 226, 226);
  border-style: solid;
  width: 100%;
}

h1 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: unset;
}

/* Dont stretch my Media */

img,
embed,
video,
object {
  max-width: 100%;
}

/* Simple and useful CSS Debugging Technique */

.debug * {
  outline: 1px solid gold;
}
