.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.container {
  margin: auto;
  /* padding: 15px 50px 15px 50px; */
  font-size: 25px;
}

.router-view {
  min-height: calc(75.7vh);
}

.about-page {
  gap: 25px;
  width: 50%;
}

.home-page .img-container {
  flex-direction: row;
  max-width: 1100px;
}

.about-page,
.home-page {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page {
  gap: 30px;
  width: 68%;
}

.about-page h1,
.home-page h1 {
  margin-top: 30px;
  font-family: 'Tilt Warp';
  color: #b9844d;
  font-size: 50px;
}

.about-page h3 {
  align-self: baseline;
}

.img-container img {
  height: 450px;
  width: 450px;
}
